.app-container {
  font-family: 'Rosario';
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F9ECD7;
}


.greeting-container button:hover, input[type="submit"]:hover {
  background-color: white;
  color: #7dbbc2;
  border: 1px solid #7dbbc2;
}