.app-container {
  font-family: 'Poppins';
}

.greeting-container button, input[type="submit"] {
  font-family: "Montserrat";
  font-size: 13px;
  border-radius: 3px;
  background-color: #F16A43;
  /* color: black; */
  color: white;
  width: 80px;
  height: 30px;
  transition: 0.1s;
}

.greeting-container button:hover, input[type="submit"]:hover {
  background-color: white;
  color: #F16A43;
  border: 1px solid #F16A43;
}