.app-container {
  font-family: 'Rosario';
  /* overflow-y: hidden; */
  /* background: url('./images/gradient.png') no-repeat center center fixed; */
  background-size: cover;
  /* background-position: cover; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F9ECD7;
}


.greeting-container button:hover, input[type="submit"]:hover {
  background-color: white;
  color: #7dbbc2;
  border: 1px solid #7dbbc2;
}