.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  align-items: center;
}

.header-container h4 {
  padding-right: 50px;
}

.header-container img {
  width: 210px;
  height: 80px;
}

.header-container .right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-container button {
  margin: 5px;
}