.imgur-index-item {
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 400px;
  border: 5px solid white;
  border-radius: 3px;
  background-color: rgb(43, 43, 43);
  color: white;
  font-family: 'Open Sans';
  position: relative;
  align-items: center;

    .imgur-title-container {
      bottom: 0;
      left: 0;
      height: 40px;
      background-color: #2b2b2b;
      overflow: hidden;
      width: 100%;
      height: auto;
    }

    .imgur-title {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      font-style: italic;
      position: absolute;
      bottom: 24px;
      width: 100%;
      transition: 0.2s;
    }

    .imgur-title:hover {
      transition: 0.2s;
      color: rgb(136, 198, 57);
    }

    .imgur-logo {
      height: auto;
      width: 54px;
      position: absolute;
      bottom: 3px;
      left: 173px;
    }

    .imgur-image {
      overflow: auto;
      max-height: 314px;
      position: absolute;
      object-fit: contain;
      margin-top: 10px;
    }

    .imgur-image-container {
      height: 314px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .imgur-description {
      font-size: 13px;
      font-weight: 300;
    }
}

.imgur-index-item:hover {
  cursor: pointer;
}