.news-index {

  border: 1px solid grey;

  .news-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

      h1 {
      color: rgb(41, 188, 173);
      font-size: 36px;
      font-weight: bold;
    }

    strong {
      font-weight: bold;
      font-size: 14px;
    }



  }
  


  .news-index-item {
    display: flex;
    
    

    img {
      width: 250px;
      height: 150px;
    }

    .published-info {
      display: flex;
    }
  }
    
}