.search {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  background: #F9ECD7;
}

.search-input {
  display: flex;
}

.intro-typer {
  position: absolute;
  top: Calc(60% - 100px);
  left: Calc(50% - 500px);
  width: 1000px;
  height: 200px;
  text-align: center;
  font-family: "Heebo";
  font-size: 40px;
  color: #7dbbc2;
  font-style: italic;
}

.add-btn {
  padding: 0px 15px;
  background-color: #E7E7E7;
  height: 40px;
  border: 2px solid #7dbbc2;
  border-radius: 20px 0 0 20px !important;
  border-right: none;
  margin: 10px 0 10px 60px;
}

.search-bar {
  font-family: "Heebo";
  margin: 10px 0px 10px 0px;
  width: 700px !important;
  height: 40px;
  border: 2px solid #7dbbc2;
  font-size: 20px;
  padding: 0 10px 0 20px;
  border-right: none;
  color: #2F2F2F;
  background-color: #FFFBF3;
}

.search-bar::placeholder {
  color: #2F2F2F;
}

.search-bar:focus, .search-bar:active {
  outline: gray;
  background: white;
}

.fa-search {
  color: #2F2F2F;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.fa-plus {
  color: white;
  font-size: 27px;
  -webkit-text-stroke: 3px #7dbbc2;
}

.fa-bookmark {
  color: #2F2F2F;
  font-size: 20px;
}

.fa-home {
  color: #2F2F2F;
  font-size: 23px;
}

.modal-btn {
  padding: 0px 5px;
  background-color: transparent;
  height: 40px;
  border: 2px solid #7dbbc2;
  border-radius: 50%;
  position: absolute;
  left: 120px;
  top: 12px;
  width: 30px;
}

.home-btn {
  padding: 0px 5px;
  background-color: transparent;
  height: 40px;
  border: 2px solid #7dbbc2;
  border-radius: 50%;
  position: absolute;
  left: 60px;
  top: 12px;
  width: 30px;
}

.modal-btn:hover, .home-btn:hover {
  background-color: #2F2F2F;
}

.modal-btn:hover i, .home-btn:hover i {
  color: white;
}

.search-btn {
  margin: 10px 10px 10px 0;
  height: 40px;
  border: 2px solid #7dbbc2;
  border-radius: 0 20px 20px 0;
  border-left: 2px solid #7dbbc2;
  background-color: #7dbbc2;
  width: 90px;
  transition: 0.1s;
  text-align: center;
}

.search-btn:hover {
  background: black;
}
.search-btn:hover i {
  color: #7dbbc2;
}

.add-btn:hover {
  cursor: pointer;
  background: #A2A2A2;
}
.add-btn:hover i {
  color: black;
}

.search-btn:active, .search-btn:focus {
  outline: none;
}

.search-btn i {
  font-size: 25px;
}

.fa-chevron-down {
  padding-top: 5px;
}

.search-options-dropdown {  
  position: relative;
  bottom: 6px;
}

/* dropdown */

.dropdown-button {
  background-color: #E7E7E7;
  height: 35px;
  width: 47px;
  border: 2px solid #7dbbc2;
  border-right: none;
  padding-bottom: 5px;
}

.fa-chevron-down {
  color: white;
  font-size: 27px;
  -webkit-text-stroke: 3px #7dbbc2;
}

.dropdown-content {
  display: block;
  position: absolute;
  padding: 10px;
  top: 43px; /* looks better at 45px but then disappears if you hover over the 1px gap */
  left: -80px;
  min-width: 122px;
  color: #7dbbc2;
  text-align: left;
  background: #545454;
  border: 2px solid #7dbbc2;
  border-radius: 5px;
  z-index: 1;
  visibility: hidden;
}

.search-options-dropdown:hover .dropdown-content {
  visibility: visible;
  transform: scale(1) translateY(0);
}

.dropdown-options {
  padding: 0;
  margin: 0;
}

.dropdown-item {
  display: block;
  position: relative;
  padding: 5px 5px 9px 40px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-item:hover {
  color: black;
  background-color: #7dbbc2;
}

.dropdown-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.dropdown-item-label {
  font-family: "Ubuntu Condensed";
  color: #7dbbc2;
  font-size: 22px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin: 5px;
  border: 2px solid #7dbbc2;
  background-color: #545454;
  border-radius: 5px;
}

.dropdown-item:hover .dropdown-item-label {
  color: black;
  background-color: #7dbbc2;
  cursor: pointer;
}

.dropdown-item:hover input ~ .checkmark {
  border: 2px solid black;
  background-color: #7dbbc2;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.dropdown-item input:checked ~ .checkmark:after {
    display: block;
}

.dropdown-item .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #7dbbc2;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropdown-item:hover input:checked ~ .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* trends */

.trends {
  height: 50px;
  margin-top: 20px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.trend-btn {
  animation-iteration-count: 2;
  font-family: "Heebo";
  font-size: 20px;
  font-style: italic;
  background: none;
  color:  #2F2F2F;
  border: none;
  width: 230px;
  transition: .3s;
  text-align: center;
}

.trend-btn-1 {
  font-family: "Heebo";
  font-size: 20px;
  font-style: italic;
  background: none;
  color:  #7dbbc2;
  border: none;
  width: 230px;
  transition: .3s;
  text-align: center;
}

.trend-btn:hover {
  color: white;
  cursor: pointer;
}

.trend-btn:active, .trend-btn:focus {
  outline: none;
}

/* animations */

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  
  width: 100%;
  
  animation-duration: 25s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.16, 0.56);
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 0%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 0%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 0%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

/* loader */

.sweet-loading {
 width: 60px;
 margin: auto;
 margin-top: 160px;
}