.session-form-container form {
  font-family: "Heebo";
  width: 450px;
  height: 400px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  padding-top: 30px;
  color: white;
}

.session-form-container ul {
  list-style: none;
  padding-right: 50px;
}

.session-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #B9E9F2;
}

.session-form input[type="text"], input[type="password"] {
  font-family: "Heebo";
  border-radius: 3px;
  width: 200px;
  margin: 0px 0 30px 0;
  transition: 0.1s;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
} 

.session-form label {
  font-style: italic;
}

.session-submit {
  margin-top: 30px;
  font-size: 20px;
  padding: 7px 20px;
  border-radius: 3px;
  border: 1px solid white;
  font-family: "Heebo";
  margin: 5px;
  color: #7dbbc2;
}

.other-form {
  margin-top: 20px;
  color: #B9E9F2;
  border: 1px solid #B9E9F2;
  border-radius: 3px;
  padding: 6px;
}

.other-form:hover {
  background: #B9E9F2;
  color: white;
  border: 1px solid white;
}

